@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeefef;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: #1A618E;
}

.navbar .avatar {
    display: flex;
    align-items: center;
}

.navbar .avatar span {
    font-size: 24px;
    margin-right: 10px;
}

/* Estilos para el sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    /* Debajo del navbar */
    width: 250px;
    height: calc(100vh - 60px);
    /* Restando la altura del navbar */
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuye elementos arriba y abajo */
}

.user-info {
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #2c3e50;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 15px;
}

.menu-item:hover {
    background-color: #e9ecef;
}

.menu-item .icon {
    margin-right: 10px;
    font-size: 20px;
}

.submenu {
    margin-left: 20px;
    display: none;

}

.submenu.active {
    display: block;
}

.submenu a {
    display: block;
    padding: 5px 10px;
    color: #2c3e50;
    text-decoration: none;
    font-size: 15px;
}

.badge {
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 5px;
    line-height: 1;
    padding: 0;
}

.dropdown-icon {
    margin-left: auto;
}

/* Sección para el menú principal */
.menu-top {
    flex-grow: 1;
    /* Ocupa todo el espacio disponible */
}

/* Configuración del menú inferior */
.bottom-menu {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    /* Agrega una separación visual */
    position: relative;
    bottom: 2rem;
}

.content {
    margin-left: 318px;
    margin-top: 65px;
    padding: 20px;
}

/* Estilos para el Panel de Control y Cursos */
.dashboard-container {
    padding: 10px;
}

.panel-control {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    margin-top: -10px;
    padding: 20px;
}

.cursos {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: -10px;
}

h2 {
    color: #1A618E;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 5px -20px;
}

hr.section-divider {
    width: 60.7rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat-item {
    text-align: center;
}

.stat-item1 {
    text-align: center;
    margin-left: 30px;
}

.stat-item4 {
    margin-right: 40px;
}

.stat-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
}

.stat-label {
    font-size: 14px;
    color: #7f8c8d;
}

.cursos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 20px;
}

.curso {
    padding: 18px;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.curso-1ro {
    background-color: #e74c3c;
}

.curso-2do {
    background-color: #3498db;
}

.curso-1ro-b {
    background-color: #9b59b6;
}

.curso-2do-b {
    background-color: #f39c12;
}

.curso-1ro-c {
    background-color: #e74c3c;
}

.curso-2do-c {
    background-color: #2ecc71;
}

.todos-cursos {
    text-align: center;
    margin-top: 15px;
    position: relative;
    top: 8px;
}

.todos-cursos a {
    color: #3498db;
    text-decoration: none;
}