@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #EDEDED;
    overflow: hidden;
}

/* Header */
header {
    background: #f4f4f9;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.notatio {
    font-size: 20px;
    font-weight: bold;
    color: #1A628F;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 70px;
    margin-right: -10px;
}

nav ul {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    margin-right: 80px;
}

.div-form-register {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 54%;
    width: 900px;
    height: 480px;
    background: #fff;
    padding-left: 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.2);
}

.div-form-register h1 {
    position: relative;
    font-size: 25px;
    left: 35px;
    top: 60px;
    width: fit-content;

}

.div-form-register form {
    position: relative;
    top: 70px;
}

.div-form-register input {
    position: relative;
    background: transparent;
    outline: none;
    border: solid 1px #A19393;
    border-radius: 4px;
    display: block;
    width: 350px;
    padding: 7px;
    margin-top: 15px;
    left: 30px;
    transition: all 1s ease-in-out;
}

.div-form-register button {
    position: relative;
    width: 350px;
    padding: 7px;
    color: white;
    background: #1A618E;
    font-weight: 600;
    border-radius: 4px;
    left: 30px;
    border: solid 1px transparent;
    top: 20px;
    cursor: pointer;
}

.div-spanlink-sesionStudent {
    position: relative;
    bottom: -100px;
    left: 35px;
    font-size: 12.5px;
    width: fit-content;
}

.div-Ilustrator {
    position: relative;
    bottom: 280px;
    left: 420px;
}

.div-form-register img {
    object-fit: cover;
    height: 370px;

}


.link-acountme {
    color: red;
}


.div-error-password-seguriy {
    position: relative;
    top: 10px;
    width: 300px;
    height: 110px;
    color: white;
    background: rgb(201, 67, 67);
    border-radius: 4px;
    left: 600%;
    transition: all 1s ease-in-out;
    padding: 2px;
}


.div-error-password-seguriy h1 {
    position: relative;
    top: 7px;
    left: 10px;
    font-size: 17px;
    margin-left: 11px;
    margin-top: 10px;
}

.div-error-password-seguriy p {
    position: relative;
    left: 10px;
    font-size: 12px;
    margin-left: 11px;
    margin-top: 12px;
}

.bi-x-square-fill {
    position: relative;
    left: 260px;
    transition: all.5s ease-in-out;
    bottom: 70px;
    cursor: pointer;

}

.form-container {
    position: relative;
    bottom: 20px;
}